Core/Core/Service References/OpenGloveService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OGService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IOGService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/OpenGloveService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOGService_GetGloves_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGloves" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetGloves_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGlovesResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_SaveGlove_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveGlove" />
  </wsdl:message>
  <wsdl:message name="IOGService_SaveGlove_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveGloveResponse" />
  </wsdl:message>
  <wsdl:portType name="IOGService">
    <wsdl:operation name="GetGloves">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/GetGloves" message="tns:IOGService_GetGloves_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/GetGlovesResponse" message="tns:IOGService_GetGloves_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveGlove">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/SaveGlove" message="tns:IOGService_SaveGlove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/SaveGloveResponse" message="tns:IOGService_SaveGlove_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOGService" type="tns:IOGService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGloves">
      <soap:operation soapAction="http://tempuri.org/IOGService/GetGloves" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveGlove">
      <soap:operation soapAction="http://tempuri.org/IOGService/SaveGlove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IOGService" type="tns:IOGService">
    <wsp:PolicyReference URI="#NetTcpBinding_IOGService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetGloves">
      <soap12:operation soapAction="http://tempuri.org/IOGService/GetGloves" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveGlove">
      <soap12:operation soapAction="http://tempuri.org/IOGService/SaveGlove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OGService">
    <wsdl:port name="BasicHttpBinding_IOGService" binding="tns:BasicHttpBinding_IOGService">
      <soap:address location="http://localhost:9001/OGService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IOGService" binding="tns:NetTcpBinding_IOGService">
      <soap12:address location="net.tcp://localhost:9002/OGService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9002/OGService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/DESKTOP-78HC5HD</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>