Core/Core/Service References/OpenGloveService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/OpenGloveService" />
  <xs:element name="GetGloves">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlovesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OpenGloveService" minOccurs="0" name="GetGlovesResult" nillable="true" type="q1:ArrayOfGlove" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGlove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OpenGloveService" minOccurs="0" name="glove" nillable="true" type="q2:Glove" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGloveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>