COMTEST/Service References/OpenGloveService/OpenGloveService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OpenGloveService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OpenGloveService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGlove">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Glove" nillable="true" type="tns:Glove" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGlove" nillable="true" type="tns:ArrayOfGlove" />
  <xs:complexType name="Glove">
    <xs:sequence>
      <xs:element minOccurs="0" name="BluetoothAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Connected" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Side" type="tns:Side" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Glove" nillable="true" type="tns:Glove" />
  <xs:simpleType name="Side">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Right" />
      <xs:enumeration value="Left" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Side" nillable="true" type="tns:Side" />
</xs:schema>