OpenGlovePrototype2/Service References/ServiceReference1/OpenGloveSDK.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OpenGloveSDK" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OpenGloveSDK" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="OGCore">
    <xs:sequence>
      <xs:element minOccurs="0" name="gloveCfg" nillable="true" type="tns:OGCore.GloveConfiguration" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="gloves" nillable="true" type="q1:ArrayOfKeyValueOfstringOpenGlovev2Ww5l5r" />
      <xs:element minOccurs="0" name="profileCfg" nillable="true" type="tns:OGCore.ProfileConfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OGCore" nillable="true" type="tns:OGCore" />
  <xs:complexType name="OGCore.GloveConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaudRate" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="allowedBaudRates" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="gloveHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gloveName" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="negativeInit" nillable="true" type="q3:ArrayOfstring" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="negativePins" nillable="true" type="q4:ArrayOfint" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="positiveInit" nillable="true" type="q5:ArrayOfstring" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="positivePins" nillable="true" type="q6:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OGCore.GloveConfiguration" nillable="true" type="tns:OGCore.GloveConfiguration" />
  <xs:complexType name="OGCore.ProfileConfiguration">
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Mappings" nillable="true" type="q7:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="gloveHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OGCore.ProfileConfiguration" nillable="true" type="tns:OGCore.ProfileConfiguration" />
</xs:schema>