OpenGlovePrototype2/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OGService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IOGService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/OpenGlove" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOGService_GetMappingsArray_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMappingsArray" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetMappingsArray_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMappingsArrayResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetCore_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCore" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetCore_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoreResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_SetConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:SetConfiguration" />
  </wsdl:message>
  <wsdl:message name="IOGService_SetConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetBaudRate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBaudRate" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetBaudRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBaudRateResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetPositivePins_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPositivePins" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetPositivePins_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPositivePinsResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetNegativePins_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNegativePins" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetNegativePins_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNegativePinsResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetPositiveInit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPositiveInit" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetPositiveInit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPositiveInitResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetNegativeInit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNegativeInit" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetNegativeInit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNegativeInitResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetGloveHash_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGloveHash" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetGloveHash_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGloveHashResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetGloveName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGloveName" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetGloveName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGloveNameResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_SetProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:SetProfile" />
  </wsdl:message>
  <wsdl:message name="IOGService_SetProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetProfileName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileName" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetProfileName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileNameResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetProfileGloveHash_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileGloveHash" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetProfileGloveHash_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileGloveHashResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetMappingsDictionary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMappingsDictionary" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetMappingsDictionary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMappingsDictionaryResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_getGloves_InputMessage">
    <wsdl:part name="parameters" element="tns:getGloves" />
  </wsdl:message>
  <wsdl:message name="IOGService_getGloves_OutputMessage">
    <wsdl:part name="parameters" element="tns:getGlovesResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetPortNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPortNames" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetPortNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPortNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IOGService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IOGService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_StartTest_InputMessage">
    <wsdl:part name="parameters" element="tns:StartTest" />
  </wsdl:message>
  <wsdl:message name="IOGService_StartTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartTestResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_StopTest_InputMessage">
    <wsdl:part name="parameters" element="tns:StopTest" />
  </wsdl:message>
  <wsdl:message name="IOGService_StopTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopTestResponse" />
  </wsdl:message>
  <wsdl:portType name="IOGService">
    <wsdl:operation name="GetMappingsArray">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/GetMappingsArray" message="tns:IOGService_GetMappingsArray_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/GetMappingsArrayResponse" message="tns:IOGService_GetMappingsArray_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCore">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/GetCore" message="tns:IOGService_GetCore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/GetCoreResponse" message="tns:IOGService_GetCore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetConfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/SetConfiguration" message="tns:IOGService_SetConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/SetConfigurationResponse" message="tns:IOGService_SetConfiguration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBaudRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/GetBaudRate" message="tns:IOGService_GetBaudRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/GetBaudRateResponse" message="tns:IOGService_GetBaudRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPositivePins">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/GetPositivePins" message="tns:IOGService_GetPositivePins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/GetPositivePinsResponse" message="tns:IOGService_GetPositivePins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNegativePins">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/GetNegativePins" message="tns:IOGService_GetNegativePins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/GetNegativePinsResponse" message="tns:IOGService_GetNegativePins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPositiveInit">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/GetPositiveInit" message="tns:IOGService_GetPositiveInit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/GetPositiveInitResponse" message="tns:IOGService_GetPositiveInit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNegativeInit">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/GetNegativeInit" message="tns:IOGService_GetNegativeInit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/GetNegativeInitResponse" message="tns:IOGService_GetNegativeInit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGloveHash">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/GetGloveHash" message="tns:IOGService_GetGloveHash_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/GetGloveHashResponse" message="tns:IOGService_GetGloveHash_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGloveName">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/GetGloveName" message="tns:IOGService_GetGloveName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/GetGloveNameResponse" message="tns:IOGService_GetGloveName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/SetProfile" message="tns:IOGService_SetProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/SetProfileResponse" message="tns:IOGService_SetProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfileName">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/GetProfileName" message="tns:IOGService_GetProfileName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/GetProfileNameResponse" message="tns:IOGService_GetProfileName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfileGloveHash">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/GetProfileGloveHash" message="tns:IOGService_GetProfileGloveHash_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/GetProfileGloveHashResponse" message="tns:IOGService_GetProfileGloveHash_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMappingsDictionary">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/GetMappingsDictionary" message="tns:IOGService_GetMappingsDictionary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/GetMappingsDictionaryResponse" message="tns:IOGService_GetMappingsDictionary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getGloves">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/getGloves" message="tns:IOGService_getGloves_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/getGlovesResponse" message="tns:IOGService_getGloves_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPortNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/GetPortNames" message="tns:IOGService_GetPortNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/GetPortNamesResponse" message="tns:IOGService_GetPortNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/Connect" message="tns:IOGService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/ConnectResponse" message="tns:IOGService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/Disconnect" message="tns:IOGService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/DisconnectResponse" message="tns:IOGService_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/StartTest" message="tns:IOGService_StartTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/StartTestResponse" message="tns:IOGService_StartTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/StopTest" message="tns:IOGService_StopTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/StopTestResponse" message="tns:IOGService_StopTest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOGService" type="tns:IOGService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMappingsArray">
      <soap:operation soapAction="http://tempuri.org/IOGService/GetMappingsArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCore">
      <soap:operation soapAction="http://tempuri.org/IOGService/GetCore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetConfiguration">
      <soap:operation soapAction="http://tempuri.org/IOGService/SetConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaudRate">
      <soap:operation soapAction="http://tempuri.org/IOGService/GetBaudRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositivePins">
      <soap:operation soapAction="http://tempuri.org/IOGService/GetPositivePins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNegativePins">
      <soap:operation soapAction="http://tempuri.org/IOGService/GetNegativePins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositiveInit">
      <soap:operation soapAction="http://tempuri.org/IOGService/GetPositiveInit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNegativeInit">
      <soap:operation soapAction="http://tempuri.org/IOGService/GetNegativeInit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGloveHash">
      <soap:operation soapAction="http://tempuri.org/IOGService/GetGloveHash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGloveName">
      <soap:operation soapAction="http://tempuri.org/IOGService/GetGloveName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProfile">
      <soap:operation soapAction="http://tempuri.org/IOGService/SetProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileName">
      <soap:operation soapAction="http://tempuri.org/IOGService/GetProfileName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileGloveHash">
      <soap:operation soapAction="http://tempuri.org/IOGService/GetProfileGloveHash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMappingsDictionary">
      <soap:operation soapAction="http://tempuri.org/IOGService/GetMappingsDictionary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGloves">
      <soap:operation soapAction="http://tempuri.org/IOGService/getGloves" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPortNames">
      <soap:operation soapAction="http://tempuri.org/IOGService/GetPortNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <soap:operation soapAction="http://tempuri.org/IOGService/Connect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap:operation soapAction="http://tempuri.org/IOGService/Disconnect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTest">
      <soap:operation soapAction="http://tempuri.org/IOGService/StartTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopTest">
      <soap:operation soapAction="http://tempuri.org/IOGService/StopTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IOGService" type="tns:IOGService">
    <wsp:PolicyReference URI="#NetTcpBinding_IOGService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetMappingsArray">
      <soap12:operation soapAction="http://tempuri.org/IOGService/GetMappingsArray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCore">
      <soap12:operation soapAction="http://tempuri.org/IOGService/GetCore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetConfiguration">
      <soap12:operation soapAction="http://tempuri.org/IOGService/SetConfiguration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaudRate">
      <soap12:operation soapAction="http://tempuri.org/IOGService/GetBaudRate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositivePins">
      <soap12:operation soapAction="http://tempuri.org/IOGService/GetPositivePins" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNegativePins">
      <soap12:operation soapAction="http://tempuri.org/IOGService/GetNegativePins" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositiveInit">
      <soap12:operation soapAction="http://tempuri.org/IOGService/GetPositiveInit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNegativeInit">
      <soap12:operation soapAction="http://tempuri.org/IOGService/GetNegativeInit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGloveHash">
      <soap12:operation soapAction="http://tempuri.org/IOGService/GetGloveHash" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGloveName">
      <soap12:operation soapAction="http://tempuri.org/IOGService/GetGloveName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProfile">
      <soap12:operation soapAction="http://tempuri.org/IOGService/SetProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileName">
      <soap12:operation soapAction="http://tempuri.org/IOGService/GetProfileName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileGloveHash">
      <soap12:operation soapAction="http://tempuri.org/IOGService/GetProfileGloveHash" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMappingsDictionary">
      <soap12:operation soapAction="http://tempuri.org/IOGService/GetMappingsDictionary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGloves">
      <soap12:operation soapAction="http://tempuri.org/IOGService/getGloves" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPortNames">
      <soap12:operation soapAction="http://tempuri.org/IOGService/GetPortNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IOGService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IOGService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTest">
      <soap12:operation soapAction="http://tempuri.org/IOGService/StartTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopTest">
      <soap12:operation soapAction="http://tempuri.org/IOGService/StopTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OGService">
    <wsdl:port name="BasicHttpBinding_IOGService" binding="tns:BasicHttpBinding_IOGService">
      <soap:address location="http://localhost:9001/OGService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IOGService" binding="tns:NetTcpBinding_IOGService">
      <soap12:address location="net.tcp://localhost:9002/OGService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9002/OGService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/DESKTOP-78HC5HD</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>